<ul class="nav nav-pills nav-stacked nav-background-upgrade" >
    <li class="">
        <a href="{{ path('car_show_get_car', {'id' : car.id}) }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to Main Car page
        </a>
    </li>
</ul>