<ul class="nav nav-pills nav-stacked nav-background-upgrade" >
    <li class="">
        <a href="{{ path('questions') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {% trans %}se_back_to_main_question_page{% endtrans %}
        </a>
    </li>
</ul>