<ul class="nav nav-pills nav-stacked nav-background-upgrade" >
    <li class="">
        <a href="{{ path('questions') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to Main Questions page
        </a>
    </li>
</ul>