{% extends 'base.html.twig' %}
{% block body %}

    {% include '@StackExchange/Question/question_body.html.twig' with {'question' : question} %}
    <hr>
    <h3>Answers</h3>
    {% for answer in question.answers %}
        {% include '@StackExchange/Question/answer_body.html.twig' with {'answer' : answer} %}
        <hr>
    {% endfor %}

    <h3>Submit your answer</h3>
    {{ render(controller(
    'StackExchangeBundle:Answer:newAnswer',
    { 'questionId': question.id }
    )) }}

    {{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/stackexchange/js/se_vote.js') }}"></script>
{% endblock %}