{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <ul class="nav nav-tabs">
            <li {% if pagination.isSorted('time') %}  class="active"{% endif %}>{{ knp_pagination_sortable(pagination, 'Release', 'time') }}</li>
            <li {% if pagination.isSorted('score') %}  class="active"{% endif %}>{{ knp_pagination_sortable(pagination, 'votes', 'score') }}</li>
        </ul>
        <div class="pull-right">{{ pagination.getTotalItemCount }} questions</div>

    </div><br>

    {% for question in pagination %}
        {% include 'StackExchangeBundle:Question:question_row.html.twig' with {'question' : question} %}
        <hr>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination, 'StackExchangeBundle::pagination.html.twig') }}
    </div>

{% endblock %}