{% extends '::base.html.twig' %}

{% block sidepanel %}

    <h1>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>

    <ul class="list-group">
        <a href="{{ url('fos_message_inbox') }}"
           class="list-group-item{% if app.request.requestUri == path('fos_message_inbox') %} active {% endif %}">
            {% trans from 'FOSMessageBundle' %}inbox{% endtrans %}
        </a>
        <a href="{{ url('fos_message_sent') }}"
           class="list-group-item{% if app.request.requestUri == path('fos_message_sent') %} active {% endif %}">
            {% trans from 'FOSMessageBundle' %}sent{% endtrans %}
        </a>
        <a href="{{ url('fos_message_deleted') }}"
           class="list-group-item{% if app.request.requestUri == path('fos_message_deleted') %} active {% endif %}">
            {% trans from 'FOSMessageBundle' %}deleted{% endtrans %}
        </a>
    </ul>
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block fos_message_content %}{% endblock %}
{% endblock %}
