<div class="panel panel-default">
    <div class="panel-body">

        <img class="img-responsive" src="{% path car.mainPhoto, 'big' %}"/>
        <h4>{{ car.year | date("Y") }} {{ car.brand|e }} {{ car.model|e }}</h4>
    </div>
</div>